<div class="container">
  <h2><%= @question.content %></h2>
  <div><button onclick="skipQuestion()">Skip Question</button></div>
  <div id="player1-score">Player 1 Score: 0</div>
  <div id="player2-score">Player 2 Score: 0</div>

  <div class="options">

    <div>
      <button class="option-button" data-answer="<%= @question.option1 %>">A.  <%= @question.option1 %></button>
      <button class="option-button" data-answer="<%= @question.option2 %>">B. <%= @question.option2 %></button>
    </div>

    <div>
      <button class="option-button" data-answer="<%= @question.option3 %>">C. <%= @question.option3 %></button>
      <button class="option-button" data-answer="<%= @question.option4 %>">D. <%= @question.option4 %></button>
    </div>
  </div>

  <input type="hidden" id="correct-answer" value="<%= @question.solution %>">


  <p>Player 1: Press 'A' to buzz in</p>
  <p>Player 2: Press 'L' to buzz in</p>

  <div id="result"></div>
  <div id="steal"></div>
  <div id="countdown"></div>

  <%= javascript_include_tag 'game' %>
</div>
